<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Go to Mewo blog</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/admin">My Post</a>
            </li>
            <li>
                <a href="/admin/users">Users</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li>
                <%if(data.admin){%>
                    <a href="">
                         Hello, <%=data.admin.first_name%> <%=data.admin.last_name%> <span class="glyphicon glyphicon-user"></span>
                    </a>
                    <%}%>
            </li>
            <li>
                <a href="/admin/logout">
                    <span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br/>
<br/>
<br/>