<%-include header%>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/theme/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>About me</h1>
                        <span class="meta">Nguyễn Lý Minh Mẫn</span>
                        <span class="meta">nguyenlyminhman@gmail.com</span>
                        <span class="meta">**/**/1987</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto" style="text-align: justify">
                    <p>My name is Mẫn Nguyễn (Nguyễn Lý Minh Mẫn), you may call me Mẫn. I am a Software Engineer and I improving
                        my skills to become a full-stack developer. Now, I working as a Freelance Developer in Ho Chi Minh city, Viet Nam.
                        I like to share and be shared knowledge and experiences with other people, because it is the way
                        quickly to improve myself.
                    </p>

                    <p>I graduated from FPT-Greenwich University with a Bachelor of Science in Computing  of Greenwich University.
                        I very like studying new technologies and special is open-source platform. I have many loves for the open-source programming languages
                        such as JavaScript, PHP, NodeJs, Android, Java and all linux-based technologies.
                    </p>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    <%-include footer%>